In [1]:
"""
날짜 : 2023/01/13
이름 : 김훈
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""

'\n날짜 : 2023/01/13\n이름 : 김훈\n내용 : 파이썬 데이터베이스 프로그래밍 실습\n'

In [3]:
import pymysql

In [21]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user1` values ('p101', '1234', '파이썬', '010-1234-1001', 17)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

Insert 완료...

In [22]:
# Update 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set "
sql += "`name`='홍길동',"
sql += "`hp`='010-1111-2222',"
sql += "`age`=27 "
sql += "where `uid`='p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

Update 완료...

In [24]:
# Delete 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid`='p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

Delete 완료...

In [25]:
# Select 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

cur = conn.cursor()

sql = "select * from `user1`"
cur.execute(sql)
conn.commit()

# 데이터 출력
for row in cur.fetchall():
    print('---------------')
    print('아이디 :', row[0])
    print('비밀번호 :', row[1])
    print('이름 :', row[2])
    print('휴대폰 :', row[3])
    print('나이 :', row[4])

conn.close()
print('Select 완료...')

---------------
아이디 : a101
비밀번호 : 1234
이름 : 김유신
휴대폰 : 010-1234-1001
나이 : 20
---------------
아이디 : addond
비밀번호 : 1234
이름 : 유저등록수정
휴대폰 : 010-1630-0000
나이 : 28
---------------
아이디 : testic
비밀번호 : 1234
이름 : 수정테스트
휴대폰 : 010-2834-8963
나이 : 72
---------------
아이디 : 23data
비밀번호 : 1234
이름 : 엔티티
휴대폰 : 010-2222-2574
나이 : 23
---------------
아이디 : p102
비밀번호 : 1234
이름 : 파이썬2
휴대폰 : 010-1234-1001
나이 : 17
---------------
아이디 : p102
비밀번호 : 1234
이름 : 파이썬2
휴대폰 : 010-1234-1001
나이 : 17
Select 완료...